
$buttons: ".button, button, input[type='submit'], input[type='reset']";
$button-disabled: "&[disabled], &.disabled, &.button-disabled";

/* Core Button Setup
  ================================================== */

#{$buttons} {
  @include border-radius(50px);
  @include user-select(none);
  -webkit-font-smoothing: auto;
  border: 2px solid;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  outline: none;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @media #{$tablet} {
    display: inline-block;
    padding: 0.5rem 1rem;
    padding-top: 0.4rem;
  }

  #{$button-disabled} {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }

  &.button-block {
    display: block !important;
    width: 100%;
  }

  &.button-large {
    font-size: 1.23rem !important;
  }
}


/* Aliased Buttons
  ================================================== */

#{$buttons} {
  @extend .button.button-green;

  &:hover, &:focus {
    @extend .button.button-green:hover;
  }

  &.primary, &.button-primary { // TODO phase out ".primary", use ".button-primary" instead
    @extend .button.button-green;

    &:hover, &:focus {
      @extend .button.button-green:hover;
    }
  }

  &.secondary, &.button-secondary { // TODO phase out ".secondary", use ".button-secondary" instead
    @extend .button.button-gray;

    &:hover, &:focus {
      @extend .button.button-gray:hover;
    }
  }

  &.button-action {
    @extend .button.button-blue;

    &:hover, &:focus {
      @extend .button.button-blue:hover;
    }
  }

  &.button-issue {
    @extend .button.button-orange;

    &:hover, &:focus {
      @extend .button.button-orange:hover;
    }
  }
}


/* All Button Colors
  ================================================== */

#{$buttons} {
  &.button-green {
    @include button($background-color: $green, $border-color: $green, $type-color: $white);
  }

  &.button-blue {
    @include button($background-color: $blue, $border-color: $blue, $type-color: $white);
  }

  &.button-orange {
    @include button($background-color: $orange, $border-color: $orange, $type-color: $white);
  }

  &.button-purple {
    @include button($background-color: $purple, $border-color: $purple, $type-color: $white);
  }

  &.button-red {
    @include button($background-color: $red, $border-color: $red, $type-color: $white);
  }

  &.button-gray {
    @include button($background-color: $gray-light, $border-color: $gray-light, $type-color: $gray-dark, $on-hover: 'darken');
  }
}


/* Actions
  ================================================== */

.action-primary {
  color: $blue;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  &:hover { color: lighten($blue, 10%); }
}

.action-secondary {
  @extend .action-primary;
  color: $gray;
  &:hover { color: darken($gray, 10%); }
}
