.banner, .flash { //TODO remove .flash class from apps
  padding: 1.5rem;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 9999;

  .banner-icon, .flash-icon { //TODO remove .flash-icon class from apps
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &.banner-error, &.error { //TODO remove .error class from apps
    //@extend icon instead of specific reference
    background: $red;
    .flash-icon, .banner-icon { background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Flip_2"></g><g><path fill="#FFFFFF " d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M8.972,3.25L8.694,9.5H7.306L7.028,3.25 H8.972z M8,12.5c-0.587,0-1.062-0.476-1.062-1.062S7.413,10.375,8,10.375s1.062,0.476,1.062,1.062S8.587,12.5,8,12.5z"/></g></svg>'); }
  }

  &.banner-success, &.success { //TODO remove .success class from apps
    //@extend icon instead of specific reference
    background: $green;
    .flash-icon, .banner-icon { background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Flip_2"></g><path fill="#FFFFFF " d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M11.975,5.402L8.1,11.652 c-0.149,0.242-0.396,0.409-0.677,0.458c-0.058,0.01-0.115,0.015-0.173,0.015c-0.224,0-0.441-0.075-0.62-0.215l-2.375-1.875 C3.822,9.693,3.748,9.064,4.09,8.63c0.342-0.432,0.973-0.508,1.405-0.165L6.99,9.646l3.285-5.298 c0.291-0.468,0.907-0.613,1.377-0.323C12.121,4.316,12.266,4.933,11.975,5.402z"/></svg>'); }
  }

  .banner-title, h3 { //TODO remove h3 from apps
    color: $white;
    display: inline-block;
    font-size: $medium-size;
    margin: 0;
    vertical-align: middle;
  }
}
