
$buttons: ".button, button, input[type='submit'], input[type='reset']";
$button-disabled: "&[disabled], &.disabled, &.button-disabled";

/* Core Button Setup
  ================================================== */

#{$buttons} {
  @include border-radius(50px);
  border: 2px solid;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0;
  outline: none;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;

  @media #{$tablet} {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    padding-top: 0.4rem;
  }

  #{$button-disabled} {
    cursor: default;
    opacity: 0.4;
  }

  &.button-block {
    display: block !important;
  }

  &.button-large {
    font-size: 1.23rem !important;
  }
}


/* Primary and Secondary Buttons (default colors)
  ================================================== */

#{$buttons} {
  @extend .button-green;              // Default button color

  &.primary, &.button-primary {       // TODO phase out ".primary", use ".button-primary" instead
    @extend .button-green;
  }

  &.secondary, &.button-secondary {   // TODO phase out ".secondary", use ".button-secondary" instead
    @extend .button-gray;
  }
}


/* All Button Colors
  ================================================== */

#{$buttons} {
  &.button-green {
    @include button($background-color: $green, $border-color: $green, $type-color: $white);
  }

  &.button-gray {
    @include button($background-color: $gray, $border-color: $gray, $type-color: $gray-dark);
  }
}
