/* Card Variables
  =========================================================================== */

$grid-gutter: 1rem !default;

/* Card Styles
  =========================================================================== */

.card {
  @include border-radius(10px);
  background-color: $white;
  border: 2px solid $gray-200;
  margin: 1.5rem auto;
  padding: $grid-gutter;

  hr {
    margin: ($grid-gutter) (-$grid-gutter);
  }

  &.card--without-padding {
    padding: 0;
  }

  &.card--selectable {
    &:hover {
      @extend %shadow-100;
      border-color: $blue;
      cursor: pointer;
    }
  }
}

