/* Color Palette
  ================================================== */

$white:         #FFFFFF;
$black:         #000000;

$gray-50:	      #F2F2F2;
$gray-100:      #EDEDED;
$gray-150:      #E0E0E0;
$gray-200:      #D4D4D4;
$gray-250:      #C7C7C7;
$gray-300:      #BABABA;
$gray-400:      #A1A1A1;
$gray-500:      #878787;
$gray-600:      #6E6E6E;
$gray-700:      #555555;
$gray-800:      #3B3B3B;
$gray-900:      #222222;
$gray:		      $gray-600;

$gray-cool-50:	#F5F6F7;
$gray-cool-100:	#EDF1F2;
$gray-cool-150:	#DDE2E6;
$gray-cool-200:	#D2D5D9;
$gray-cool-250:	#C4C8CD;
$gray-cool-300:	#B6BBC2;
$gray-cool-400:	#9CA3AA;
$gray-cool-500:	#828B94;
$gray-cool-600:	#6C747D;
$gray-cool-700:	#575D64;
$gray-cool-800:	#41464B;
$gray-cool-900:	#24292C;
$gray-cool:	    $gray-cool-600;

$blue-1:        #E9FFFF;
$blue-2:        #D0F3FF;
$blue-3:        #B7DAFF;
$blue-4:        #9DC0FF;
$blue-5:        #84A7ED;
$blue-6:        #6A8DD3;
$blue-7:        #5174BA;
$blue-8:        #375AA0;
$blue-9:        #1E4187;
$blue-10:       #04276D;
$blue:          $blue-6;

$green-1:       #ACFFEB;
$green-2:       #93FFD2;
$green-3:       #7AFEB9;
$green-4:       #60E49F;
$green-5:       #47CB86;
$green-6:       #2DB16C;
$green-7:       #149853;
$green-8:       #007E39;
$green-9:       #006520;
$green-10:      #004B06;
$green:         $green-6;

$orange-1:      #FFFFB0;
$orange-2:      #FFF997;
$orange-3:      #FFE07E;
$orange-4:      #FFC664;
$orange-5:      #F7AD4B;
$orange-6:      #DD9331;
$orange-7:      #C47A18;
$orange-8:      #AA6000;
$orange-9:      #914700;
$orange-10:     #772D00;
$orange:        $orange-6;

$purple-1:      #F4CBFF;
$purple-2:      #DBB2E8;
$purple-3:      #C299CF;
$purple-4:      #A87FB5;
$purple-5:      #8F669C;
$purple-6:      #754C82;
$purple-7:      #5C3369;
$purple-8:      #42194F;
$purple-9:      #290036;
$purple-10:     #0F001C;
$purple:        $purple-6;

$red-1:         #FFCAB8;
$red-2:         #FFB19F;
$red-3:         #FF9886;
$red-4:         #FF7E6C;
$red-5:         #F76553;
$red-6:         #DD4B39;
$red-7:         #C43220;
$red-8:         #AA1806;
$red-9:         #910000;
$red-10:        #770000;
$red:           $red-6;

$yellow-1:      #FFFFEF;
$yellow-2:      #FFFFD6;
$yellow-3:      #FFFFBD;
$yellow-4:      #FFFFA3;
$yellow-5:      #FFFF8A;
$yellow-6:      #F2E670;
$yellow-7:      #D9CD57;
$yellow-8:      #BFB33D;
$yellow-9:      #A69A24;
$yellow-10:     #8C800A;
$yellow:        $yellow-6;

$gray-light:    $gray-200;
$gray-dark:     $gray-900;


/* Color Aliases
  ================================================== */

$primary-color: $green;

$border-color:  $gray-100;
$body-color:    $gray-900;
