/* Color Palette
  ================================================== */

  $black:         #000000;
  $blue:          #6A8DD3;
  $gray-dark:     #373737;
  $gray-light:    #DDDDDD;
  $gray:          #8E8E8E;
  $green:         #6ECC7A;
  $orange:        #DEA34E;
  $purple:        #754C82;
  $red:           #DD4B39;
  $white:         #FFFFFF;
  $yellow:        #F2E670;


/* Color Usage
  ================================================== */

  $primary-color: $green;

  $border-color:  $gray-light;
  $body-color:    $gray-dark;
