/* Core Containers TODO refactor this
  ================================================== */

.placeholder-container {
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
}

.placeholder {
  display: none;
  margin: auto;

  @media #{$tablet} {
    width: 10rem;
  }
}

hr {
  border: none;
  border-top: 2px solid $gray-200;
}
