/* Default styles
  ================================================== */

body {
  font-family: $body-font;
  font-size: 16px;
  background: #f2efe8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: $charcoal;
  font-family: $header-font;
  small {
    font-family: $body-font;
  }
}

h1.special {
  small {
    font-family: $body-font;
  }
}

p {
  color: $body-color;
  line-height: 1.25em;
}

.text-align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.flash {
  padding: 1em;
  text-align: center;

  h3 {
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
    vertical-align: middle;
  }

  .flash-icon {
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
  }

  &.error {
    background: #d65052;
    .flash-icon { background-image: url(../images/icon-error.svg); }
  }

  &.success {
    background: #60bf85;
    .flash-icon { background-image: url(../images/icon-success.svg); }
  }
}

.icon-x {
  background-image: url(../images/icon-x.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.s2s-logo {
  background-image: url(../images/save-to-share-logo.png);
  background-repeat: no-repeat;
  background-size: 250px 113px;
  display: inline-block;
  vertical-align: middle;
  height: 113px;
  width: 250px;
}
