/* Default Header
  ================================================== */

.header {
  background-color: rgba($white, 0.9);
  border-bottom: 2px solid $gray-100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
