.flash {
  .flash-icon {
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }

  &.error {
    background: #d65052;
    .flash-icon { background-image: url(../bower_components/images/icons/error-white.svg); }
  }

  &.success {
    background: #60bf85;
    .flash-icon { background-image: url(../bower_components/images/icons/success-white.svg); }
  }
}
