@mixin animation($attributes) {
  -webkit-animation: $attributes;
  -moz-animation: $attributes;
  -ms-animation: $attributes;
  -o-animation: $attributes;
  animation: $attributes;
}

@mixin button($background-color, $border-color, $type-color, $on-hover: 'lighten') {
  background-color: $background-color;
  border-color: $border-color;
  color: $type-color;

  &:hover, &:focus {
    background-color: #{$on-hover}($background-color, 10%);
    border-color: #{$on-hover}($border-color, 10%);
    color: $type-color;
  }
}
