.overlay {
  background-color: rgba(31,31,35, 0.85);
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  @include animation("fadeIn 200ms");
}

.modal {
  border-radius: 10px;
  background-color: #F1F2F3;
  margin: 1.5rem auto 1.5rem auto;
  max-width: 32rem;
  outline: 0;
  padding: 1.5rem;
  width: 90%;
  z-index: 1050;

  @media all and (min-width: 640px) {
    margin: 5rem auto 5rem auto;
  }

  hr.full {
    margin: 1.5rem -1.5rem -0.2rem -1.5rem;
  }
}
