$menu-height-condensed: 5.95rem !default;
$menu-height-expanded: 7.8rem !default;
$menu-color: $gray-100 !default;

@function set-auto-color($color) {
  @if (lightness($color) > 60) { @return $gray-900; }
  @else { @return $white; }
}

.app-menu {
  @extend .app-menu.condensed;
  background-color: rgba($menu-color, 0.97);
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 10;

  .app-context {
    @extend %app-content-width;
    @extend %clearfix;
    margin: auto;
    padding: 1.9rem 1rem;

    .app-title {
      color: set-auto-color($menu-color);
      font-size: $font-size-large;
      font-weight: 600;

      a {
        color: set-auto-color($menu-color);

        &:hover {
          color: rgba(set-auto-color($menu-color), .60);
        }
      }
    }
  }

  .app-navigation {
    @extend %remove-list-style;
    @extend %app-content-width;
    @extend %clearfix;
    margin: auto;

    li {
      @extend %action;
      float: left;
      margin: 0 1rem;
      padding: 0.9rem 0;
      padding-top: 0rem;
      line-height: 0.9rem;
      color: rgba(set-auto-color($menu-color), .60);
      font-size: 1rem;
      transition: all ease-in-out 0.2s;
      border-bottom: 4px solid transparent;

      &:hover {
        color: set-auto-color($menu-color);
      }

      &.active {
        color: set-auto-color($menu-color);
        border-bottom: 4px solid;
      }
    }
  }

  &.expanded {
    height: $menu-height-expanded;
  }

  &.condensed {
    height: $menu-height-condensed;
  }

  &.fixed {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
  }
}

.app-menu ~ .app-content {
  padding-top: $menu-height-condensed;
}

.app-menu.expanded ~ .app-content {
  padding-top: $menu-height-expanded;
}
