/* Colors
  ================================================== */

  $black:         #000;
  $white:         #FFFFFF;
  $charcoal:      #373737;
  $light-gray:    #737373;
  $gray:          #F3F3F3;
  $medium-gray:   #B9B9B9;
  $dark-gray:     #919191;


  $beige:         #E7E7DB;
  $medium-beige:  #D7D7C8;
  $dark-beige:    #CCCDB8;
  $green:         #60BF85;
  $light-green:   #A0D5BA;
  $blue:          #2B4051;
  $light-blue:    #899FBC;
  $red:           #dd4b39;
  $purple:        #754c82;

  $border-color:  #555555;
  $body-color:    #373737;

  $primary-color: $purple;

// Primary button color
  $primary-button:                $primary-color;
  $primary-button-border:         $primary-color;
  $primary-button-hover:          lighten($primary-color, 10%);
  $primary-button-border-hover:   lighten($primary-color, 10%);

// Secondary button color
  $secondary-button:              #f6f6f7;
  $secondary-button-border:       darken($gray, 10%);
  $secondary-button-hover:        darken($gray, 10%);
  $secondary-button-border-hover: darken($gray, 10%);


/* Fonts
================================================== */

  $header-font:   "Source Sans Pro", sans-serif;
  $body-font:     "Source Sans Pro", sans-serif;

