/* Core Variables
  ================================================== */

$global-content-width: 1000px !default;

$grid-gutter: 1rem !default;

$phone: "all and (max-width: 40em)" !default;
$tablet: "all and (min-width: 40em)" !default;
$desktop: "all and (min-width: 64em)" !default;
$large-desktop: "all and (min-width: 96em)" !default;
