/* Type Configuration
  ================================================== */

  $xlarge-font:   1.953rem;
  $large-font:    1.563rem;
  $medium-font:   1.25rem;
  $body-font:     1rem;
  $small-font:    0.8rem;

  $header-font:   "Source Sans Pro", sans-serif;
  $body-font:     "Source Sans Pro", sans-serif;


/* Grid
  ================================================== */

  $global-content-width: 1000px;

  $tablet: "all and (min-width: 40em)" !default;
  $desktop: "all and (min-width: 64em)" !default;
