* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  font-size: 16px;
  background: #f2efe8;
}

/* Headers
  ================================================== */

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 0.25rem;

  small {
    display: block;
    font-size: 60%;
    font-weight: normal;
    line-height: 1.5rem;
  }

  &.centered { text-align: center; }
}

h1.special {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  small { text-transform: none; }
}

h1 { font-size: $xlarge }
h2 { font-size: $large; }
h3 { font-size: $medium; }
h4 { font-size: $body; }


/* Links
  ================================================== */

a {
  outline: none;
  text-decoration: none;
}


/* Paragraph
  ================================================== */

p { line-height: 1.7rem; }

.definition {
  font-style: italic;
  margin-left: 1rem;
}

.version {
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0.3rem;
  position: relative;
  top: -0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $charcoal;
  font-family: $header-font;
  small {
    font-family: $body-font;
  }
}

h1.special {
  small {
    font-family: $body-font;
  }
}

p {
  color: $body-color;
  line-height: 1.25em;
}
