/* Type Configuration
  ================================================== */

$xlarge-size:   1.953rem;
$large-size:    1.563rem;
$medium-size:   1.25rem;
$body-size:     1rem;
$small-size:    0.8rem;

$regular:       400;
$semibold:      600;

$header-font:   "Source Sans Pro", sans-serif;
$body-font:     "Source Sans Pro", sans-serif;

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $gray-100;
  font-family: $body-font;
  font-size: 18px;
}


/* Headers
  ================================================== */

h1, h2, h3, h4, h5, h6 {
  color: $gray-900;
  font-family: $header-font;
  font-weight: 600;
  margin-bottom: 0.25rem; // TODO Evaluate this margin

  small { // TODO Kill this little guy
    display: block;
    font-family: $body-font;
    font-size: 60%;
    font-weight: normal;
    line-height: 1.5rem;
  }
}

h1 { font-size: $xlarge-size; }
h2 { font-size: $large-size; }
h3 { font-size: $medium-size; }
h4 { font-size: $body-size; }


/* Links
  ================================================== */

a {
  outline: none;
  text-decoration: none;
  color: $blue;

  &:hover, &:focus {
    color: $blue-5;
  }
}


/* Paragraph
  ================================================== */

p {
  color: $body-color;
  line-height: 1.25rem;
}
