/* Action classes
  ================================================== */

.hidden, .hide {
  display: none !important;
}

.mobile-hide {
  @include hide-on('phone', $display: 'block');
}

.mobile-hide-inline {
  @include hide-on('phone', $display: 'inline');
}

.tablet-hide {
  @include hide-on('tablet', $display: 'block');
}

.tablet-hide-inline {
  @include hide-on('tablet', $display: 'inline');
}

.pointer, .selectable {
  cursor: pointer !important; 
}


/* Alignment Utilities
  ================================================== */

.no-margin, .remove-margin { // TODO Settle on a proper name
  margin: 0 !important;
}

.remove-padding {
  padding: 0 !important;
}

.remove-border {
  border: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}


/* Typography Utilities
  ================================================== */

.center-align, .center-text, .center-content, .content-center, .text-align-center { // TODO What is the proper class here?
  text-align: center !important;
}

.left-align, .left-content, .content-left {
  text-align: left !important;
}

.right-align {
  text-align: right !important;
}

.no-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.break-word {
  word-wrap: break-word;
}
