.center-content, .content-center {
  text-align: center;
}

.left-content, .content-left {
  text-align: left;
}

.break-word {
  word-wrap: break-word;
}

.rounded {
  border-radius: 10px;
}

.text-align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
