/* Action classes
  ================================================== */

.hide { display: none !important; }
.fixed { position: fixed !important; }
.relative { position: relative !important; }
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-none { float: none !important; }
.center-text { text-align: center !important; }
.remove-margin { margin: 0 !important; }
.remove-padding { padding: 0 !important; }
.remove-border { border: none !important; }
.selectable { cursor: pointer !important; }
.break-word { word-wrap: break-word; }
.no-wrap { white-space: nowrap; }
.center-content, .content-center, .text-align-center { text-align: center; }
.left-content, .content-left { text-align: left; }
.break-word { word-wrap: break-word; }
.rounded { border-radius: 10px; }
.pointer { cursor: pointer; }
