* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  font-size: 18px;
  background-color: #f5f5f5;
}

/* Headers
  ================================================== */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: $gray-dark;
  font-family: $header-font;

  small {
    font-family: $body-font;
    display: block;
    font-size: 60%;
    font-weight: normal;
    line-height: 1.5rem;
  }

  &.green {
    @include header-color($color: $green);
  }
}

h1 { font-size: $xlarge-font }
h2 { font-size: $large-font; }
h3 { font-size: $medium-font; }
h4 { font-size: $body-font; }


/* Links
  ================================================== */

a {
  outline: none;
  text-decoration: none;
  color: $blue;

  &:hover, &:focus {
    color: lighten($blue, 10%);
  }
}


/* Paragraph
  ================================================== */

p {
  color: $body-color;
  line-height: 1.25em;
}
