button {
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.025rem;
  min-width: 4.5rem;
  padding: 0.6rem 0.8rem;
  text-transform: uppercase;

  &.small {
    font-size: 0.8rem;
    padding: 0.6rem;
    line-height: 50%;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

// Primary button
.primary-button, .primary-button:visited {
  background-color: $primary-button;
  &:hover, &:focus { background-color: $primary-button-hover; }
}

// Secondary button
.secondary-button, .secondary-button:visited {
  background-color: $secondary-button;
  &:hover, &:focus { background-color: $secondary-button-hover; }
}

// Action button
.action-button, .action-button:visited {
  background-color: $action-button;
  &:hover, &:focus { background-color: $action-button-hover; }
}

// Issue button
.issue-button, .issue-button:visited {
  background-color: $orange;
  &:hover, &:focus { background-color: $issue-button-hover; }
}

// Secondary card button
.light-secondary-button, .light-secondary-button:visited {
  background-color: $light-secondary-button;
  color: #9298A3;
  position:relative;

  &:hover, &:focus {
    background-color: $light-secondary-button-hover;
    color: #9298A3;
  }

  &.checked span{
    width:20px; height:20px; display:inline-block;
    margin:0 0.5rem;
    background-image: url("../images/samaritan-sprite.svg");
    background-position: 0px -30px;
  }
}

// Spinner button
.spinning-text, .spinning-text:hover, .spinning-text:active{
  transition: none;
  color:transparent !important;
}

// ----- Action Links ----- //
.action-primary {
  color: $blue;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  &:hover { color: lighten($blue, 10%); }
}

.action-secondary {
  @extend .action-primary;
  color: $gray;
  &:hover { color: darken($gray, 10%); }
}
