// Checkboxes and radios

.control {
  color: #797B7D;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding-top: .15rem;
  padding-left: 2em;
  position: relative;
  margin-bottom: 1rem;

  &.form-checkbox {
    margin: 0.5rem 0 0 0;
  }
}
.control input {
  opacity: 0;
  position: absolute;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
}
.control-indicator {
  @include user-select(none);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-color: $input-background;
  border: 2px solid $input-border;
  color: #FCFCFC;
  display: block;
  font-size: 65%;
  height: 20px;
  left: 0px;
  line-height: 1rem;
  position: absolute;
  text-align: center;
  top: .25rem;
  width: 20px;
}

// Focus state
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 2px $dark-gray;
  background-color: #FFF;
  border: none;
}

// Checked state
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: $green;
  border: 1px solid $green;

  &.disabled {
    background-color: $gray;
    border: 1px solid $gray;
  }
}

// Active state
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: $green;
  border: 1px solid $green;

  &.disabled {
    background-color: $gray;
    border: 1px solid $gray;
  }
}

// Checkbox modifiers
.checkbox .control-indicator {
  border-radius: 5px;
}
.checkbox input:checked ~ .control-indicator {
  background-position: 0px 0px;
  background-image: url("../images/checkmark.svg");
  background-size: 100%;
}

// Radio modifiers
.radio .control-indicator {
  border-radius: 50%;
}
.radio input:checked ~ .control-indicator {
  background-image: url("../images/radio.svg");
}

// Alternately, use another character
.control-x input:checked ~ .control-indicator {
  background-image: url("../images/radio.svg");
}
.control-dash input:checked ~ .control-indicator {
  background-image: url("../images/radio.svg")
}

//----- On-off switch -----//
.onoffswitch {
  @include user-select(none);
  position: relative;
  width: 50px;
}

.onoffswitch-checkbox {
  display: none;
}

//Inactive
.onoffswitch-label {
  @include border-radius(50px);
  background-color: $orange;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

//Toggle transition
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.2s ease-in 0s;
  -webkit-transition: margin 0.2s ease-in 0s;
  -o-transition: margin 0.2s ease-in 0s;
  transition: margin 0.2s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: .85rem;
  color: white;
}

//Active
.onoffswitch-inner:before {
  content: url("../images/checkmark.svg");
  padding-top: 5px;
  padding-left: 4px;
  background-color: $green;
  color: $white;
}

.onoffswitch-inner:after {
  content: url("../images/issue.svg");
  padding-top: 5px;
  padding-right: 4px;
  background-color: $orange;
  color: #BBB;
  text-align: right;
}

//Inactive circle position
.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 8px 0;
  background: $white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  @include border-radius(50%);
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: 23px;
  -moz-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked +
.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

//Active circle position
.onoffswitch-checkbox:checked +
.onoffswitch-label .onoffswitch-switch {
  right: 5px;
}
