//----- Reusable Flex Grid -----//

.row-hide { display: none; }

.flex-row {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-item { @include flex(1); }

.flex-column {
  padding: 1rem 0 1rem 0;
  &.flex-nested { padding: 0.6rem 0 0 0; }
}

// Header Flex Grid
.flex-header {
  padding: 0.8rem 0;
  margin-top: 0;
}
