// Header styles
.header {
  background-color: rgba(251, 251, 252, 0.92);
  border-bottom: 2px solid $input-border;
  height: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.2rem;
  width: 100%;
  z-index: 10;
}

.header-text {
  color: #626A6E;
  display:inline;
  padding: 0 1rem 0 0;
  margin: 1rem 0;
  &.title { margin: 0.4rem 0 0 1rem; }

  &.member-id {
    border: 1px solid rgba(98, 106, 110, 0.5);
    border-radius: 5px;
    margin: 0.25rem 0.75rem 0 0;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
  }
}
