// ----- Colors ----- //
  $black:         #000;
  $white:         #FFF;
  $green:         #53BC81;
  $light-green:   #A0D5BA;
  $dark-green:    #0E9969;
  $blue:          #6091CC;
  $light-blue:    #73A4D7;
  $dark-blue:     #486D99;
  $orange:        #DD9331;
  $light-orange:  #E1A856;
  $dark-orange:   #CC7D29;
  $gray:          #A0A5AF;
  $grey:          #A0A5AF;
  $light-gray:    #E7EBEE;
  $light-grey:    #E7EBEE;
  $dark-gray:     #77797D;
  $dark-grey:     #77797D;
  $red:           #C84F40;
  $purple:        #754C82;

  $body-color:        #555;
  $input-background:  #FDFDFE;
  $card:              #FBFBFB;
  $input-border:      #DCDCDF;
  $read-only:         #DCDCDF;

  $primary-color:     $green;
  $input-focus:       $dark-gray;
  $background-color:  $light-gray;

  // Primary button color
  $primary-button:                   $primary-color;
  $primary-button-hover:             darken($primary-color, 8%);

  // Secondary button color
  $secondary-button:                 $gray;
  $secondary-button-hover:           darken($gray, 5%);

  // Action button color
  $action-button:                    $blue;
  $action-button-hover:              darken($blue, 5%);

  // Issue button color
  $issue-button:                     $orange;
  $issue-button-hover:               darken($orange, 5%);

  // Secondary card button color
  $light-secondary-button:           #DADCE0;
  $light-secondary-button-hover:     darken(#DADCE0, 5%);


// ----- Fonts ----- //
  $header-font: "Source Sans Pro";
  $body-font: "Source Sans Pro";

// ----- Grid ----- //
  $global-content-width: 1000px;

  //Tablet (640px)
  $tablet: "all and (min-width: 40rem)" !default;

  //Desktop (1024px)
  $desktop: "all and (min-width: 64rem)" !default;

  //Large-desktop (1536px)
  $large-desktop: "all and (min-width: 96rem)" !default;
