.sidebar {
  @include user-select(none);
  width: 15rem;
  height: 20rem;
  display: inline;
  float: left;
  position: fixed;
  transition: all 0.3s cubic-bezier(0, 0, 0.195, 0.955);
  -webkit-touch-callout: none;
  z-index: 20;
  &.collapsed { width: 4.5rem; }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    color: #9298A3;
    height: 4rem;
    list-style-type: none;
    padding: 1.2rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    &.current {
      background-color: #4F5055;
      color: #F6F7F7;
    }

    &.disabled {
      opacity: .2;
      cursor: not-allowed;
    }
  }

  //----- Sidebar Icons -----//
  .sidebar-icon {
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    pointer-events: none;
    width: 25px;
    height: 25px;
    margin: 0rem 1rem 0 -0.2rem;
    transition: transform 0.3s, height 0.3s, width 0.3s; //Adds transition for rotation and size

    &.sidebar-toggle {
      background-image: url("../images/sidebar_arrow.svg");
      background-position: 0px 0px;

      &.collapsed {
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
      }
    }
  }
}

.sidebar-text {
  margin-top: 0.1rem;
  &.collapsed { display: none; }
}

.sidebar-text-flyout {
  position: absolute;
  margin: -0.3rem 0 0 4rem;
  padding: 0.5rem 0.75rem;
  background-color: #434449;
  color: #F6F7F7;
  font-weight: 600;
  border-radius: 5px;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 10px;
    left: -17px;
    width: 0;
    height: 0;
    border-color: transparent #434449 transparent transparent;
    border-style: solid;
    border-width: 10px;
  }
}

.toggle-button-container {
  display: none;

  @media #{$desktop} {
    display: block;
    top: calc(100vh - 70px);
    position: absolute;
    width: 100%;
  }
}
