.row-wide {
  @extend %clearfix;
  @extend .row;
  max-width: 1220px !important;
}

ul {
  &.tasks {
    @include user-select(none);
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;

    .task {
      border-top: 1px solid $background-color;
      background-color: #FBFBFB;
      color: $body-color;
      padding: 0.5rem;
      font-size: 1rem;
      &:hover, &:focus { background-color: #DADCE0; }

      &.in-progress {
        color: #999;
        opacity: 0.5;

        &:hover, &:focus { background-color: #FBFBFB; }
      }

      &.task-disabled {
        background-color: #EBECEE;

        &:hover {
          background-color: #EBECEE;
          cursor: auto;
        }
      }
    }
  }
}

.task-header {
  background-color: $gray;
  color: #FFF;
  padding: .3rem .6rem;
  font-size: .9rem;
}

// ----- Table Styles ----- //
.task-row {
  background-color: #FBFBFB;
  border-top: 1px solid $background-color;
  padding: 0 0.5rem;
}

/* Custom columns
============================================ */

.column {

  &.table {
    float: left;

    &.need-key { width: 15%; }
    &.task-name { width: 25%; }
    &.checklist-name { width: 20%; }
    &.checklist-amount-due {
      text-align: center;
      width: 12%;
    }

    &.checklist-note {
      float: right;
      text-align: center;
      width: 10%;
    }

    &.checklist-date-scanned {
      text-align: center;
      width: 12%;
    }

    &.checklist-type {
      text-align: center;
      width: 12%;
    }

    &.checklist-status {
      text-align: center;
      width: 12%;
    }

  }

  &.third {
    &.message-column {
      width: 25%;
    }
  }

  &.sixth {
    &.comment-column {
      width: 8.5rem;
      text-align: center;
      float: right;
      padding: 1rem 0;
      }
    &.resolve-column {
      width: 10.2rem;
      float: right;
      .resolve-button {
        float: right;
        margin: 0;
      }
      .resolve-text {
        float: right;
        margin-right: 1.7rem
      }
    }
  }

  &.fifth {
    float: left;
    width: 20%;

    &.id { width: 15%; }
    &.name { width: 35%; }
    &.date { width: 23%; }
    &.status { width: 17%; }
    &.issue {
      width: 10%;
      text-align: center;
    }
  }
}
