$inputs: 'select, textarea,input[type="date"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"]';

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  label {
    display: block;
    font-size: $font-size-normal;
    font-weight: $font-weight-semibold;
    margin-bottom: 0.3rem;
    text-align: left;

    &.inline {
      @include user-select(none);
      font-size: 1rem;
      display: inline-block;
      font-weight: normal;
      cursor: pointer;
    }
  }

  #{$inputs} {
    @include border-radius(5px);
    -webkit-appearance: none;
    background-color: $white;
    border: 2px solid $gray-100;
    font-size: 1rem;
    max-width: 100%;
    padding: 0.6rem;
    width: 100%;

    &:focus {
      border-color: $blue;
      outline-color: transparent;
      outline-style: none;
    }

    &[disabled] {
      background-color: $gray-100 !important;
      cursor: default !important;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
  }

  textarea {
    resize: vertical;
  }

  select {
    line-height: 1.5rem;
    cursor: pointer;
  }

  &.error, &.issue {
    .messages {
      margin: 0;
      margin-top: 0.7rem;
      padding: 0;
      list-style: none;
      overflow: auto;

      li {
        float: left;
        font-size: $font-size-normal;
        margin-right: 0.5rem;
      }
    }
  }

  &.error {
    label, #{$inputs} {
      color: $red;
      border-color: $red-50;
    }

    #{$inputs} {
      &:focus {
        border-color: $red;
      }
    }

    .messages li {
      color: $red;
    }
  }

  &.issue {
    label, #{$inputs} {
      color: $orange;
      border-color: $orange-200;
    }

    #{$inputs} {
      &:focus {
        border-color: $orange;
      }
    }

    .messages li {
      color: $orange;
    }
  }
}
