.flash {
  padding: 1em;
  text-align: center;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  h3 {
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
    vertical-align: middle;
  }
}
