/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! dashing-core v1.0.6 | MIT License */
/* Core Variables
  =========================================================================== */
/* Core Extendables
  =========================================================================== */
.app-menu .app-context, .app-menu .app-navigation {
  max-width: 1200px; }

.app-menu .app-navigation, .data-list, .remove-list-style {
  margin: 0;
  padding: 0;
  list-style: none; }

.row, .app-menu .app-context, .app-menu .app-navigation, .clearfix {
  *zoom: 1; }
  .row:before, .app-menu .app-context:before, .app-menu .app-navigation:before, .row:after, .app-menu .app-context:after, .app-menu .app-navigation:after, .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .row:after, .app-menu .app-context:after, .app-menu .app-navigation:after, .clearfix:after {
    clear: both; }

/* Core Mixins
  =========================================================================== */
/* Core Utility Classes
  =========================================================================== */
.hide, .hidden {
  display: none !important; }

.mobile-hide {
  display: none; }
  @media all and (min-width: 40em) {
    .mobile-hide {
      display: "block"; } }

.mobile-hide-inline {
  display: none; }
  @media all and (min-width: 40em) {
    .mobile-hide-inline {
      display: "inline"; } }

.tablet-hide {
  display: none; }
  @media all and (min-width: 64em) {
    .tablet-hide {
      display: "block"; } }

.tablet-hide-inline {
  display: none; }
  @media all and (min-width: 64em) {
    .tablet-hide-inline {
      display: "inline"; } }

.pointer, .selectable {
  cursor: pointer !important; }

.remove-margin, .no-margin {
  margin: 0 !important; }

.remove-padding {
  padding: 0 !important; }

.remove-border {
  border: none !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.fixed {
  position: fixed !important; }

.relative {
  position: relative !important; }

/* Color Scale
  ================================================== */
/* Typography Variables
  =========================================================================== */
/* Typography Utility Classes
  =========================================================================== */
.text-align-center, .center-align {
  text-align: center !important; }

.text-align-left, .left-align {
  text-align: left !important; }

.text-align-right, .right-align {
  text-align: right !important; }

.no-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.break-word {
  word-wrap: break-word; }

/* Typography Styles
  =========================================================================== */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  background-color: #EDEDED;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 0; }

h1 {
  font-size: 1.953rem; }

h2 {
  font-size: 1.563rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

a {
  outline: none;
  text-decoration: none;
  color: #6A8DD3; }
  a:hover, a:focus {
    color: #84A7ED; }

p {
  color: #222222;
  line-height: 1.25rem; }

/* Actions Variables
  =========================================================================== */
/* Actions Extendables
  =========================================================================== */
.button, button, input[type='submit'], input[type='reset'], .action, .app-menu .app-navigation li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
  text-decoration: none; }

/* Actions Mixins
  =========================================================================== */
/* Actions Styles
  =========================================================================== */
.button, button, input[type='submit'], input[type='reset'] {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #6A8DD3;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: auto;
  display: block;
  font-weight: 400;
  padding: 0.8rem 1rem;
  text-align: center; }
  .button:hover, .button:focus, button:hover, button:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
    background-color: #436fc7;
    color: #FFFFFF; }
  @media all and (min-width: 40em) {
    .button, button, input[type='submit'], input[type='reset'] {
      display: inline-block;
      padding: 0.5rem 1rem;
      padding-top: 0.4rem; } }
  .button[disabled], .button.disabled, .button.button-disabled, button[disabled], button.disabled, button.button-disabled, input[type='submit'][disabled], input[type='submit'].disabled, input[type='submit'].button-disabled, input[type='reset'][disabled], input[type='reset'].disabled, input[type='reset'].button-disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none; }
  .button.button-block, button.button-block, input[type='submit'].button-block, input[type='reset'].button-block {
    display: block !important;
    width: 100%; }
  .button.button-large, button.button-large, input[type='submit'].button-large, input[type='reset'].button-large {
    font-size: 1.25rem !important; }
  .button.button-primary, button.button-primary, input[type='submit'].button-primary, input[type='reset'].button-primary {
    background-color: #6A8DD3;
    color: #FFFFFF; }
    .button.button-primary:hover, .button.button-primary:focus, button.button-primary:hover, button.button-primary:focus, input[type='submit'].button-primary:hover, input[type='submit'].button-primary:focus, input[type='reset'].button-primary:hover, input[type='reset'].button-primary:focus {
      background-color: #436fc7;
      color: #FFFFFF; }
  .button.button-secondary, button.button-secondary, input[type='submit'].button-secondary, input[type='reset'].button-secondary {
    background-color: #D4D4D4;
    color: #222222; }
    .button.button-secondary:hover, .button.button-secondary:focus, button.button-secondary:hover, button.button-secondary:focus, input[type='submit'].button-secondary:hover, input[type='submit'].button-secondary:focus, input[type='reset'].button-secondary:hover, input[type='reset'].button-secondary:focus {
      background-color: #bbbbbb;
      color: #222222; }

.action {
  color: #6A8DD3; }
  .action:hover, .action:focus {
    opacity: 0.6; }
  .action.action-primary {
    color: #6A8DD3; }
    .action.action-primary:hover, .action.action-primary:focus {
      opacity: 0.6; }
  .action.action-secondary {
    color: #6E6E6E; }
    .action.action-secondary:hover, .action.action-secondary:focus {
      opacity: 0.6; }

/*! dashing-grid v1.0.0 | MIT License */
/* Setup Variables
  =========================================================================== */
/* Setup Utility Classes
  =========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%; }
  @media all and (min-width: 40em) {
    html {
      font-size: 105%; } }
  @media all and (min-width: 64em) {
    html {
      font-size: 110%; } }

/* Flex Mixins
  =========================================================================== */
/* Flex Styles
  =========================================================================== */
.row-flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .row-flex .column-flex {
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    margin: 1rem; }

/* Grid Styles
  =========================================================================== */
.row {
  margin: auto;
  max-width: 1200px;
  width: 100%; }

.column {
  padding: 1rem; }
  .column.nested {
    padding: 0.5rem; }
  .column.full, .column.two-thirds, .column.three-fourths, .column.half, .column.third, .column.fourth, .column.sixth, .column.eighth {
    width: 100%; }
  @media all and (min-width: 40em) {
    .column {
      float: left; }
      .column.flow-opposite {
        float: right; }
      .column.full {
        float: none;
        width: 100%; }
      .column.two-thirds {
        width: 66.666%; }
      .column.three-fourths {
        width: 75%; }
      .column.half {
        width: 50%; }
      .column.third {
        width: 33.333%; }
      .column.fourth {
        width: 25%; }
      .column.sixth {
        width: 16.666%; }
      .column.eighth {
        width: 12.5%; } }

/*! dashing-forms v1.0.0 | MIT License */
fieldset {
  border: none;
  padding: 0;
  margin: 0; }
  fieldset label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    text-align: left; }
    fieldset label.inline {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      font-size: 1rem;
      display: inline-block;
      font-weight: normal;
      cursor: pointer; }
  fieldset select, fieldset textarea, fieldset input[type="date"], fieldset input[type="time"], fieldset input[type="email"], fieldset input[type="month"], fieldset input[type="number"], fieldset input[type="password"], fieldset input[type="tel"], fieldset input[type="text"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    border: 2px solid #EDEDED;
    font-size: 1rem;
    max-width: 100%;
    padding: 0.6rem;
    width: 100%; }
    fieldset select:focus, fieldset textarea:focus, fieldset input[type="date"]:focus, fieldset input[type="time"]:focus, fieldset input[type="email"]:focus, fieldset input[type="month"]:focus, fieldset input[type="number"]:focus, fieldset input[type="password"]:focus, fieldset input[type="tel"]:focus, fieldset input[type="text"]:focus {
      border-color: #6A8DD3;
      outline-color: transparent;
      outline-style: none; }
    fieldset select[disabled], fieldset textarea[disabled], fieldset input[type="date"][disabled], fieldset input[type="time"][disabled], fieldset input[type="email"][disabled], fieldset input[type="month"][disabled], fieldset input[type="number"][disabled], fieldset input[type="password"][disabled], fieldset input[type="tel"][disabled], fieldset input[type="text"][disabled] {
      background-color: #EDEDED !important;
      cursor: default !important; }
  fieldset input[type=checkbox],
  fieldset input[type=radio] {
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.5rem; }
  fieldset textarea {
    resize: vertical; }
  fieldset select {
    cursor: pointer; }
  fieldset.error .messages, fieldset.issue .messages {
    margin: 0;
    margin-top: 0.7rem;
    padding: 0;
    list-style: none;
    overflow: auto; }
    fieldset.error .messages li, fieldset.issue .messages li {
      float: left;
      font-size: 1rem;
      margin-right: 0.5rem; }
  fieldset.error label, fieldset.error select, fieldset.error textarea, fieldset.error input[type="date"], fieldset.error input[type="time"], fieldset.error input[type="email"], fieldset.error input[type="month"], fieldset.error input[type="number"], fieldset.error input[type="password"], fieldset.error input[type="tel"], fieldset.error input[type="text"] {
    color: #DD4B39;
    border-color: #FFCAB8; }
  fieldset.error select:focus, fieldset.error textarea:focus, fieldset.error input[type="date"]:focus, fieldset.error input[type="time"]:focus, fieldset.error input[type="email"]:focus, fieldset.error input[type="month"]:focus, fieldset.error input[type="number"]:focus, fieldset.error input[type="password"]:focus, fieldset.error input[type="tel"]:focus, fieldset.error input[type="text"]:focus {
    border-color: #DD4B39; }
  fieldset.error .messages li {
    color: #DD4B39; }
  fieldset.issue label, fieldset.issue select, fieldset.issue textarea, fieldset.issue input[type="date"], fieldset.issue input[type="time"], fieldset.issue input[type="email"], fieldset.issue input[type="month"], fieldset.issue input[type="number"], fieldset.issue input[type="password"], fieldset.issue input[type="tel"], fieldset.issue input[type="text"] {
    color: #DD9331;
    border-color: #FFE07E; }
  fieldset.issue select:focus, fieldset.issue textarea:focus, fieldset.issue input[type="date"]:focus, fieldset.issue input[type="time"]:focus, fieldset.issue input[type="email"]:focus, fieldset.issue input[type="month"]:focus, fieldset.issue input[type="number"]:focus, fieldset.issue input[type="password"]:focus, fieldset.issue input[type="tel"]:focus, fieldset.issue input[type="text"]:focus {
    border-color: #DD9331; }
  fieldset.issue .messages li {
    color: #DD9331; }

.onoffswitch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  width: 50px; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #DD9331;
  cursor: pointer;
  display: block;
  overflow: hidden; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.2s ease-in 0s;
  -webkit-transition: margin 0.2s ease-in 0s;
  -o-transition: margin 0.2s ease-in 0s;
  transition: margin 0.2s ease-in 0s; }

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: .85rem;
  color: white; }

.onoffswitch-inner:before {
  content: url("../images/checkmark.svg");
  padding-top: 5px;
  padding-left: 4px;
  background-color: #2DB16C;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: url("../images/issue.svg");
  padding-top: 5px;
  padding-right: 4px;
  background-color: #DD9331;
  color: #BBB;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 8px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: 23px;
  -moz-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s; }

.onoffswitch-checkbox:checked +
.onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked +
.onoffswitch-label .onoffswitch-switch {
  right: 5px; }

/* Custom Checkboxes
  ================================================== */
.checkbox-custom input {
  opacity: 0;
  position: absolute;
  z-index: -1; }
.checkbox-custom label:before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-color: #FFFFFF;
  float: left;
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 2px solid #D4D4D4;
  display: block; }
  .checkbox-custom label:before.disabled {
    background-color: #6E6E6E;
    border: 2px solid #6E6E6E; }
.checkbox-custom input:focus ~ label:before {
  box-shadow: 0 0 0 2px #9DC0FF;
  background-color: #FFFFFF; }
.checkbox-custom input:checked ~ label:before, .checkbox-custom input:active ~ label:before {
  color: #FFFFFF;
  background-color: #6A8DD3;
  border: 2px solid #6A8DD3;
  background-position: 0px 0px;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"> <path fill="%23FFFFFF " d="M6.969,13.5c-0.269,0-0.532-0.09-0.745-0.259l-3.266-2.578c-0.522-0.412-0.611-1.168-0.199-1.69 c0.413-0.522,1.17-0.609,1.69-0.199l2.208,1.743l4.618-7.448c0.35-0.564,1.091-0.74,1.656-0.388c0.565,0.35,0.739,1.092,0.389,1.657 l-5.328,8.593c-0.181,0.291-0.477,0.491-0.814,0.551C7.108,13.494,7.038,13.5,6.969,13.5z"/></svg>');
  background-size: 100%; }

/*! Samaritan.css v1.1.3-beta | MIT License */
/* Core Variables
  =========================================================================== */
/* Shadow Extendables
  =========================================================================== */
.card.card--selectable:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

/* Core Containers TODO refactor this
  ================================================== */
.placeholder-container {
  margin: 1rem auto;
  padding: 2rem;
  text-align: center; }

.placeholder {
  display: none;
  margin: auto; }
  @media all and (min-width: 40em) {
    .placeholder {
      width: 10rem; } }

hr {
  border: none;
  border-top: 2px solid #D4D4D4; }

/* Card Variables
  =========================================================================== */
/* Card Styles
  =========================================================================== */
.card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 2px solid #D4D4D4;
  margin: 1.5rem auto;
  padding: 1rem; }
  .card hr {
    margin: 1rem -1rem; }
  .card.card--without-padding {
    padding: 0; }
  .card.card--selectable:hover {
    border-color: #6A8DD3;
    cursor: pointer; }

.app-menu {
  background-color: rgba(237, 237, 237, 0.97);
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 10; }
  .app-menu .app-context {
    margin: auto;
    padding: 1.9rem 1rem; }
    .app-menu .app-context .app-title {
      color: #222222;
      font-size: 1.563rem;
      font-weight: 600; }
      .app-menu .app-context .app-title a {
        color: #222222; }
        .app-menu .app-context .app-title a:hover {
          color: rgba(34, 34, 34, 0.6); }
  .app-menu .app-navigation {
    margin: auto; }
    .app-menu .app-navigation li {
      float: left;
      margin: 0 1rem;
      padding: 0.9rem 0;
      padding-top: 0rem;
      line-height: 0.9rem;
      margin-right: 1.3rem;
      color: rgba(34, 34, 34, 0.6);
      font-size: 1rem;
      transition: all ease-in-out 0.2s;
      border-bottom: 4px solid transparent; }
      .app-menu .app-navigation li a {
        color: rgba(34, 34, 34, 0.6); }
      .app-menu .app-navigation li:hover, .app-menu .app-navigation li a:hover {
        color: #222222; }
      .app-menu .app-navigation li.active, .app-menu .app-navigation li a.active {
        color: #222222;
        border-bottom: 4px solid; }
  .app-menu.expanded {
    height: 7.8rem; }
  .app-menu.condensed, .app-menu {
    height: 5.95rem; }
  .app-menu.fixed {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    position: fixed; }

.app-menu ~ .app-content {
  padding-top: 5.95rem; }

.app-menu.expanded ~ .app-content {
  padding-top: 7.8rem; }

/* Action Button Colors
  ================================================== */
.button.button-green, button.button-green, input[type='submit'].button-green, input[type='reset'].button-green {
  background-color: #2DB16C;
  color: #FFFFFF; }
  .button.button-green:hover, .button.button-green:focus, button.button-green:hover, button.button-green:focus, input[type='submit'].button-green:hover, input[type='submit'].button-green:focus, input[type='reset'].button-green:hover, input[type='reset'].button-green:focus {
    background-color: #238853;
    color: #FFFFFF; }
.button.button-blue, button.button-blue, input[type='submit'].button-blue, input[type='reset'].button-blue {
  background-color: #6A8DD3;
  color: #FFFFFF; }
  .button.button-blue:hover, .button.button-blue:focus, button.button-blue:hover, button.button-blue:focus, input[type='submit'].button-blue:hover, input[type='submit'].button-blue:focus, input[type='reset'].button-blue:hover, input[type='reset'].button-blue:focus {
    background-color: #436fc7;
    color: #FFFFFF; }
.button.button-orange, button.button-orange, input[type='submit'].button-orange, input[type='reset'].button-orange {
  background-color: #DD9331;
  color: #FFFFFF; }
  .button.button-orange:hover, .button.button-orange:focus, button.button-orange:hover, button.button-orange:focus, input[type='submit'].button-orange:hover, input[type='submit'].button-orange:focus, input[type='reset'].button-orange:hover, input[type='reset'].button-orange:focus {
    background-color: #bc781f;
    color: #FFFFFF; }
.button.button-purple, button.button-purple, input[type='submit'].button-purple, input[type='reset'].button-purple {
  background-color: #754C82;
  color: #FFFFFF; }
  .button.button-purple:hover, .button.button-purple:focus, button.button-purple:hover, button.button-purple:focus, input[type='submit'].button-purple:hover, input[type='submit'].button-purple:focus, input[type='reset'].button-purple:hover, input[type='reset'].button-purple:focus {
    background-color: #583962;
    color: #FFFFFF; }
.button.button-red, button.button-red, input[type='submit'].button-red, input[type='reset'].button-red {
  background-color: #DD4B39;
  color: #FFFFFF; }
  .button.button-red:hover, .button.button-red:focus, button.button-red:hover, button.button-red:focus, input[type='submit'].button-red:hover, input[type='submit'].button-red:focus, input[type='reset'].button-red:hover, input[type='reset'].button-red:focus {
    background-color: #c23321;
    color: #FFFFFF; }
.button.button-gray, button.button-gray, input[type='submit'].button-gray, input[type='reset'].button-gray {
  background-color: #D4D4D4;
  color: #222222; }
  .button.button-gray:hover, .button.button-gray:focus, button.button-gray:hover, button.button-gray:focus, input[type='submit'].button-gray:hover, input[type='submit'].button-gray:focus, input[type='reset'].button-gray:hover, input[type='reset'].button-gray:focus {
    background-color: #bbbbbb;
    color: #222222; }

.data-list {
  overflow: auto; }
  .data-list.data-list__stacked li {
    float: left;
    margin-right: 1.5rem; }
  .data-list.data-list__stacked .data-list__description {
    color: #222222;
    display: block;
    font-size: 1.1rem;
    font-weight: 600; }
  .data-list.data-list__stacked .data-list__title {
    color: #6E6E6E;
    display: block;
    font-size: 0.9rem; }

.select2-container {
  width: 100% !important;
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle; }

.select2-container .select2-choice {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #fff;
  border: 2px solid #E4E4EA;
  color: #555;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  overflow: hidden;
  padding: 0.6rem;
  position: relative;
  text-decoration: none;
  user-select: none;
  white-space: nowrap; }

.error .select2-choice {
  border-color: #DD4B39; }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #2DB16C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px; }

.select2-container .select2-choice > .select2-chosen {
  margin: 0rem 20px 0 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555;
  font-size: 1rem; }

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #FCFCFC; }

.select2-drop {
  margin-top: -2.7rem;
  width: 100%;
  position: absolute;
  padding-top: 0;
  z-index: 9999;
  top: 100%;
  background: #FCFCFC;
  color: #555;
  border: 2px solid #6a8dd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden; }

.select2-drop-auto-width {
  border-top: 2px solid #E4E4EA;
  width: auto; }

.select2-drop.select2-drop-above {
  margin-top: -0.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.select2-drop.select2-drop-above.select2-drop-active {
  box-shadow: none; }

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 25px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background-clip: padding-box;
  background: transparent;
  margin-top: 0.6rem; }

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 25px;
  float: right;
  height: 25px;
  margin-right: 0.4rem;
  background: url("../bower_components/samaritan-css/images/samaritan-sprite.svg") no-repeat;
  background-position: 0px -75px;
  background-size: 1000%; }

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  position: relative;
  z-index: 10000;
  white-space: nowrap; }

.select2-search input {
  -webkit-border-radius: 5px 5px 0 0 !important;
  -moz-border-radius: 5px 5px 0 0 !important;
  -ms-border-radius: 5px 5px 0 0 !important;
  -o-border-radius: 5px 5px 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
  background: #fcfcfc;
  border: none !important;
  border-bottom: 2px solid #E4E4EA !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  height: auto !important;
  margin: 0;
  min-height: 2.5rem;
  outline: 0;
  padding: 0.6rem;
  padding-bottom: 0.5rem;
  width: 100%; }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: #FCFCFC no-repeat 100%; }

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  background: #FFFFFF;
  border: 2px solid #6a8dd3;
  outline: none; }

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background: #FFFFFF;
  border: 2px solid #CFCFD6; }

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none; }

.select2-dropdown-open .select2-choice .select2-arrow b {
  background: url("../bower_components/samaritan-css/images/samaritan-sprite.svg") no-repeat 0;
  background-position: -80px -26px;
  background-size: 400%; }

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* results */
.select2-results {
  max-height: 15em;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent; }

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0; }

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px; }

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px; }

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
  transition: none; }

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold; }

.select2-results .select2-result-label {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  min-height: 1rem;
  padding: 0.6rem;
  transition: none;
  user-select: none; }

.select2-results .select2-highlighted {
  background: #6a8dd3;
  color: #FCFCFC; }

.select2-results li em {
  background: #FCFCFC;
  font-style: normal; }

.select2-results .select2-highlighted em {
  background: transparent; }

.select2-results .select2-highlighted ul {
  background: #FCFCFC;
  color: #000; }

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #FCFCFC;
  display: list-item;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #858585;
  text-align: center; }

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #FCFCFC;
  display: list-item;
  cursor: default; }

.select2-results .select2-disabled {
  background: #fcfcfc;
  display: list-item;
  cursor: default; }

.select2-results .select2-selected {
  display: none; }

.select2-more-results.select2-active {
  background: #FCFCFC no-repeat 100%; }

.select2-more-results {
  background: #FCFCFC;
  display: list-item; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  cursor: not-allowed;
  opacity: 0.5; }

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #FCFCFC;
  background-image: none;
  border-left: 0; }

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 2px solid #CFCFD6;
  cursor: text;
  overflow: hidden;
  background-color: #fcfcfc; }

.select2-locked {
  padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices {
  min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices {
  border: 2px solid #6a8dd3;
  outline: none; }

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  background: transparent !important; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fcfcfc  no-repeat 100% !important; }

.select2-default {
  color: #999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 2px solid #CFCFD6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FCFCFC; }

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #FCFCFC; }

.select2-search-choice-close {
  display: none;
  width: 15px;
  height: 100%;
  position: absolute;
  right: 37px;
  top: 0; }

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block; }

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px; }

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #fcfcfc;
  background-image: none;
  border: 2px solid #CFCFD6;
  cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 2px solid #CFCFD6;
  background-image: none;
  background-color: #fcfcfc; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none; }

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
  transition: none; }

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.select2-display-none {
  display: none; }

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

@media all and (max-width: 40em) {
  .example-flex .column-flex {
    text-indent: -9999px; } }
.example-flex .column-flex.gray-50 {
  background-color: #F2F2F2;
  color: #222222; }
.example-flex .column-flex.gray-100 {
  background-color: #EDEDED;
  color: #222222; }
.example-flex .column-flex.gray-150 {
  background-color: #E0E0E0;
  color: #222222; }
.example-flex .column-flex.gray-200 {
  background-color: #D4D4D4;
  color: #222222; }
.example-flex .column-flex.gray-250 {
  background-color: #C7C7C7;
  color: #222222; }
.example-flex .column-flex.gray-300 {
  background-color: #BABABA;
  color: #222222; }
.example-flex .column-flex.gray-400 {
  background-color: #A1A1A1; }
.example-flex .column-flex.gray-500 {
  background-color: #878787; }
.example-flex .column-flex.gray-600 {
  background-color: #6E6E6E; }
.example-flex .column-flex.gray-700 {
  background-color: #555555; }
.example-flex .column-flex.gray-800 {
  background-color: #3B3B3B; }
.example-flex .column-flex.gray-900 {
  background-color: #222222; }
.example-flex .column-flex.gray {
  background-color: #6E6E6E; }
.example-flex .column-flex.gray-50c {
  background-color: #F5F6F7;
  color: #24292C; }
.example-flex .column-flex.gray-100c {
  background-color: #EDF1F2;
  color: #24292C; }
.example-flex .column-flex.gray-150c {
  background-color: #DDE2E6;
  color: #24292C; }
.example-flex .column-flex.gray-200c {
  background-color: #D2D5D9;
  color: #24292C; }
.example-flex .column-flex.gray-250c {
  background-color: #C4C8CD;
  color: #24292C; }
.example-flex .column-flex.gray-300c {
  background-color: #B6BBC2;
  color: #24292C; }
.example-flex .column-flex.gray-400c {
  background-color: #9CA3AA; }
.example-flex .column-flex.gray-500c {
  background-color: #828B94; }
.example-flex .column-flex.gray-600c {
  background-color: #6C747D; }
.example-flex .column-flex.gray-700c {
  background-color: #575D64; }
.example-flex .column-flex.gray-800c {
  background-color: #41464B; }
.example-flex .column-flex.gray-900c {
  background-color: #24292C; }
.example-flex .column-flex.gray-cool {
  background-color: #6C747D; }
.example-flex .column-flex.blue-50 {
  background-color: #E9FFFF;
  color: #04276D; }
.example-flex .column-flex.blue-100 {
  background-color: #D0F3FF;
  color: #04276D; }
.example-flex .column-flex.blue-200 {
  background-color: #B7DAFF;
  color: #04276D; }
.example-flex .column-flex.blue-300 {
  background-color: #9DC0FF;
  color: #04276D; }
.example-flex .column-flex.blue-400 {
  background-color: #84A7ED; }
.example-flex .column-flex.blue-500 {
  background-color: #6A8DD3; }
.example-flex .column-flex.blue-600 {
  background-color: #5174BA; }
.example-flex .column-flex.blue-700 {
  background-color: #375AA0; }
.example-flex .column-flex.blue-800 {
  background-color: #1E4187; }
.example-flex .column-flex.blue-900 {
  background-color: #04276D; }
.example-flex .column-flex.blue {
  background-color: #6A8DD3; }
.example-flex .column-flex.red-50 {
  background-color: #FFCAB8;
  color: #770000; }
.example-flex .column-flex.red-100 {
  background-color: #FFB19F;
  color: #770000; }
.example-flex .column-flex.red-200 {
  background-color: #FF9886;
  color: #770000; }
.example-flex .column-flex.red-300 {
  background-color: #FF7E6C;
  color: #770000; }
.example-flex .column-flex.red-400 {
  background-color: #F76553; }
.example-flex .column-flex.red-500 {
  background-color: #DD4B39; }
.example-flex .column-flex.red-600 {
  background-color: #C43220; }
.example-flex .column-flex.red-700 {
  background-color: #AA1806; }
.example-flex .column-flex.red-800 {
  background-color: #910000; }
.example-flex .column-flex.red-900 {
  background-color: #770000; }
.example-flex .column-flex.red {
  background-color: #DD4B39; }
.example-flex .column-flex.orange-50 {
  background-color: #FFFFB0;
  color: #772D00; }
.example-flex .column-flex.orange-100 {
  background-color: #FFF997;
  color: #772D00; }
.example-flex .column-flex.orange-200 {
  background-color: #FFE07E;
  color: #772D00; }
.example-flex .column-flex.orange-300 {
  background-color: #FFC664;
  color: #772D00; }
.example-flex .column-flex.orange-400 {
  background-color: #F7AD4B; }
.example-flex .column-flex.orange-500 {
  background-color: #DD9331; }
.example-flex .column-flex.orange-600 {
  background-color: #C47A18; }
.example-flex .column-flex.orange-700 {
  background-color: #AA6000; }
.example-flex .column-flex.orange-800 {
  background-color: #914700; }
.example-flex .column-flex.orange-900 {
  background-color: #772D00; }
.example-flex .column-flex.orange {
  background-color: #DD9331; }
.example-flex .column-flex.green-50 {
  background-color: #ACFFEB;
  color: #004B06; }
.example-flex .column-flex.green-100 {
  background-color: #93FFD2;
  color: #004B06; }
.example-flex .column-flex.green-200 {
  background-color: #7AFEB9;
  color: #004B06; }
.example-flex .column-flex.green-300 {
  background-color: #60E49F;
  color: #004B06; }
.example-flex .column-flex.green-400 {
  background-color: #47CB86; }
.example-flex .column-flex.green-500 {
  background-color: #2DB16C; }
.example-flex .column-flex.green-600 {
  background-color: #149853; }
.example-flex .column-flex.green-700 {
  background-color: #007E39; }
.example-flex .column-flex.green-800 {
  background-color: #006520; }
.example-flex .column-flex.green-900 {
  background-color: #004B06; }
.example-flex .column-flex.green {
  background-color: #2DB16C; }
.example-flex .column-flex.purple-50 {
  background-color: #F4CBFF;
  color: #0F001C; }
.example-flex .column-flex.purple-100 {
  background-color: #DBB2E8;
  color: #0F001C; }
.example-flex .column-flex.purple-200 {
  background-color: #C299CF;
  color: #0F001C; }
.example-flex .column-flex.purple-300 {
  background-color: #A87FB5;
  color: #0F001C; }
.example-flex .column-flex.purple-400 {
  background-color: #8F669C; }
.example-flex .column-flex.purple-500 {
  background-color: #754C82; }
.example-flex .column-flex.purple-600 {
  background-color: #5C3369; }
.example-flex .column-flex.purple-700 {
  background-color: #42194F; }
.example-flex .column-flex.purple-800 {
  background-color: #290036; }
.example-flex .column-flex.purple-900 {
  background-color: #0F001C; }
.example-flex .column-flex.purple {
  background-color: #754C82; }
.example-flex .column-flex.yellow-50 {
  background-color: #FFFFEF;
  color: #8C800A; }
.example-flex .column-flex.yellow-100 {
  background-color: #FFFFD6;
  color: #8C800A; }
.example-flex .column-flex.yellow-200 {
  background-color: #FFFFBD;
  color: #8C800A; }
.example-flex .column-flex.yellow-300 {
  background-color: #FFFFA3;
  color: #8C800A; }
.example-flex .column-flex.yellow-400 {
  background-color: #FFFF8A;
  color: #8C800A; }
.example-flex .column-flex.yellow-500 {
  background-color: #F2E670; }
.example-flex .column-flex.yellow-600 {
  background-color: #D9CD57; }
.example-flex .column-flex.yellow-700 {
  background-color: #BFB33D; }
.example-flex .column-flex.yellow-800 {
  background-color: #A69A24; }
.example-flex .column-flex.yellow-900 {
  background-color: #8C800A; }
.example-flex .column-flex.yellow {
  background-color: #F2E670; }

/*# sourceMappingURL=example.css.map */
