/* Mixins
  ================================================== */

@mixin animation($attributes) {
  -webkit-animation: $attributes;
  -moz-animation: $attributes;
  -ms-animation: $attributes;
  -o-animation: $attributes;
  animation: $attributes;
}

@mixin button($background-color, $border-color, $type-color, $on-hover: 'lighten') {
  background-color: $background-color;
  border-color: $border-color;
  color: $type-color;

  &:hover, &:focus {
    @if $on-hover == 'darken' {
      background-color: darken($background-color, 10%);
      border-color: darken($border-color, 10%);
    } @else {
      background-color: lighten($background-color, 10%);
      border-color: lighten($border-color, 10%);
    }
    color: $type-color;
  }
}

@mixin header-color($color) {
  color: $color;

  small {
    font-size: 90%;
    color: lighten($color, 10%);
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value) {
  -moz-transition: $value;
  -o-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}


/* Extendables
  ================================================== */

%clearfix:before,
%clearfix:after {
  content: " ";
  display: table;
}

%clearfix:after {
  clear: both;
}

%clearfix {
  *zoom: 1;
}

